:root {
  /* background color variants */
  --main-bg-light: #fefefe;
  --main-bg-dark: #232323;
  /* text color variants */
  --text-light: #ffffff;
  --text-dark: #333333;
  /* cta variants */
  --cta-light: #00798c;
  --cta-dark: #d1495b;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 0;
  transition: background-color 0.2s ease;
}

.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container button {
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  font-family: inherit;
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  transition: background-color 0.1s ease;
}

.main_container button.dark_cta {
  background-color: var(--cta-dark);
}

.main_container button.light_cta {
  background-color: var(--cta-light);
}

/* CLASS TO ADDED TO THE BODY -- MAIN COLOR SCHEME */
.dark {
  background-color: var(--main-bg-dark);
  color: var(--text-light);
}

.light {
  background-color: var(--main-bg-light);
  color: var(--text-dark);
}

/* FIXES THE BLINK IF SUPPORTED */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-bg-dark);
    color: var(--text-light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--main-bg-light);
    color: var(--text-dark);
  }
}
